@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 1350px;
    margin-inline: auto;
}

/* HEADER STYLES */

header {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
    background-color: rgba(46,54,68, 0.2);
}

nav:hover {
    background-color:#2e3644;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 3.8vh 1.5rem;
    font-size: 1.2rem;
    color: white;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f7bdce;
}


.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 10px #2e3644;
}

.video-container video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(90%);
}

.title {
    position: absolute;
    top: 24rem;
    left: 28rem;
    font-size: 7rem;
    z-index: 2;
    font-weight: bold;
    color: #2e3644;
    text-shadow: 0px 0px 20px #fbab9d;
}

/* MAIN STYLES */

main {
    font-size: 1.5rem;
    padding: 2rem 0;
    color: white;
    background-image: url(dragon-scales.svg);
}

h2 {
    color: #fbab9d;
    text-shadow: 0px 0px 2px #2e3644;
    letter-spacing: .3rem;
    text-align: center;
}

strong {
    color: #2e3644;
}

.intro h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro-description {
    display: flex;
}

.intro-description img {
    margin-top: -60px;
    width: 50%;
}

section {
    scroll-margin: 110px;
}


.events h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0px;
}

.events h3 {
    text-align: center;
    font-weight: 500;
}

.event-list {
    margin: 50px 0px;
}

.event-container {
    display: flex;
    margin: 50px 0px;
    padding: 10px 0px;
}

.event-container h3 {
    font-size: 2rem;
    color: #fbab9d;
    text-shadow: 0px 0px 5px #2e3644;
}

.event-container div {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    gap: 1rem;
    padding: 0px 5px;
}

.event-image {
    width: 50%;
    height: 500px;
}

iframe {
    box-shadow: 0px 0px 30px #2e3644;
    border-radius: 10px;
}

table {
    margin: 50px 0px;
    margin-inline: auto;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #2e3644;
    width: 800px;
}

table th {
    font-size: 1.5rem;
    border-collapse: collapse;
    border: 3px solid #2e3644;
    background-color: rgba(46,54,68,0.9);
    padding: 2px 0px;
}

table td {
    padding: 5px 10px;
    border-collapse: collapse;
    border: 2px solid #2e3644;
    background-color: rgba(46,54,68,0.7);
}

.map {
    margin-bottom: 2rem;
    width: 100%;
}


.FAQ h2 {
    margin: 30px 0px;
}

.Contact h2 {
    margin-bottom: 2rem;
}

form {
    width: 400px;
    padding: 1rem;
    border: 2px solid #fbab9d;
    box-shadow: 0px 1px 30px #2e3644;
    margin-right: 300px;
}


form label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 5px 0px;
}

form input {
    width: 100%;
    height: 30px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
}

form textarea {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

button {
    border: 2px solid black;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #2e3644;
    color: #fbab9d;
}


.contact-container {
    width: 100%;
    display: flex;
}

.contact-seperator {
    display: flex;
    flex: 1;
}

.socials {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
    padding-left: 300px;
}

.socials img {
    width: 100px;
}

/* FOOTER STYLES */

footer {
    width: 100%;
    padding: 1rem;
    background-color: #2e3644;
}

footer p {
    font-size: 1rem;
    color: white;
    text-align: center;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 1440px) {
    .title {
        font-size: 6rem;
        top: 21rem;
        left: 18rem;
    }
}


@media screen and (max-width: 1366px) {
    .title {
        position: absolute;
        top: 18rem;
        left: 18rem;
        font-size: 5rem;
    }

    .hero {
        height: 100%;
    }

    main {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .wrapper {
        width: 1000px;
    }

    .video-container {
        margin-bottom: -5px;
    }

    h2 {
        margin: 1rem 0px;
    }

    .faq-container {
        width: 90%;
        margin-inline: auto;
    }

    .faq-container ul li {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 1024px) {
    .title {
        font-size: 4rem;
        top: 13rem;
        left: 13rem;
    }
}